/.vs
/VerifyNIPActivePayer.Lib/bin
/VerifyNIPActivePayer.Lib/obj
/VerifyNIPAvtivePayer.Lib.Test/bin
/VerifyNIPAvtivePayer.Lib.Test/obj
/VerifyCompany.Common.Lib/bin
/VerifyCompany.Common.Lib/obj
/VerifyCompany.Common.Test.Lib/bin
/VerifyCompany.Common.Test.Lib/obj
