/.vs
/VerifyNIPActivePayer.Lib/bin
/VerifyNIPActivePayer.Lib/obj
/VerifyNIPActivePayer.Lib.Test/bin
/VerifyNIPActivePayer.Lib.Test/obj
/VerifyCompany.Common.Lib/bin
/VerifyCompany.Common.Lib/obj
/VerifyCompany.Common.Test.Lib/bin
/VerifyCompany.Common.Test.Lib/obj
/VerifyActiveCompany.Lib/BiRSettings.config
/VerifyActiveCompany.Lib/obj
/VerifyActiveCompany.Lib/bin
/VerifyActiveCompany.Lib.Test/obj
/VerifyActiveCompany.Lib.Test/bin
netcoreapp3.1
obj
packages
/ExcelDataManager.Lib/obj
/ExcelDataManager.Lib/bin
/ExcelDataManager.Lib.Test/InputData
/ExcelDataManager.Lib.Test/*.user
/ExcelDataManager.Lib.Test/obj
/ExcelDataManager.Lib.Test/bin
/DocumentGenerator.Lib/obj
/DocumentGenerator.Lib/bin
/DocumentGenerator.Lib/Templates/*.xltx
/DocumentGenerator.Lib/input/spispna.csv
/DocumentGenerator.Lib.Test/obj
/DocumentGenerator.Lib.Test/bin
/VerifyCompany.UI/obj
/VerifyCompany.UI/bin
/VerifyWhiteListCompany.Lib/bin
/VerifyWhiteListCompany.Lib/obj
/VerifyWhiteListCompany.Lib.Test/bin
/VerifyWhiteListCompany.Lib.Test/obj
/TransferCreator.UI/bin
/TransferCreator.UI/obj