<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="BiRSettings.config">
  </appSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="e3">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wyszukiwarkaregon.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc"
                binding="wsHttpBinding" bindingConfiguration="e3" contract="Service.IUslugaBIRzewnPubl"
                name="e3" />
        </client>
    </system.serviceModel>
 
</configuration>